/* Basic Style */
body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}
#wrapper{
  display: block;
  max-width: 1140px;
  margin: 0 auto ;
}

table > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}

th{
  width: 25%;
  background: rgb(236,236,236);
  padding: 10px 23px 10px 8px;
}
.container {
  display: block;
  width: 400px;
  margin: 10px auto 0;
}

tr{
  border-bottom : 1px solid rgb(225,225,225);
}

td{
  width: 15%;
  color: rgb(134,134,134);
}


.action{
  text-align: right;
}

form{
  margin-bottom: 25px;
}

form p {
    color: rgb(211,117,118);
    display: none;
}

.navbar{
  background: rgb(86,183,228)!important;  
}

form button{
  background: rgb(86,183,228);
  color: white;
  font-weight: bold;
  padding: 9px 3px 8px 2px;
border-radius: 6px;
}

i{
  cursor: pointer; 
  margin: 0px 11px 0px;
}

ul {
  margin: 0;
  padding: 0;
}
li * {
  float: left;
}
li, h3 {
  clear:both;
  list-style:none;
}
input, button {
  outline: none;
}
button {
  background: none;
  border: 0px;

  color: #888;
  font-size: 15px;
  width: 90px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
  float: right;
}

/* Heading */
h3,
label[for='newtask'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 1px solid rgb(225,225,225);
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
/*
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}*/
input[type="text"]:focus {
  color: #333;
}

/* New Task */
label[for='newtask'] {
  display: block;
  margin: 0 0 20px;
  text-align: center;
}
input.newtask {
  float: left;
  width: 100%;
  margin: 8px auto 14px;
  height: 54px;
  padding: 0 0 0 10px;
}

textarea.newtask {
  float: left;
  width: 100%;
  margin: 8px auto 14px;
  padding: 10px 0 0 10px;
  height: 120px;

}

p > button:hover {
  color: #0FC57C;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}
li >  input[type="text"] {
  width: 226px;
}
li > .delete:hover {
  color: #CF2323;
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
tr input[type=text] {
  display:none;
}

tr.editMode input[type=text] {
  display:block;
}

tr.editMode label {
  display:none;
}